.MainNav {
  width: 65%;
  height: 60%;
}

.MainNav nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.MainNav nav ul li {
  width: 25%;
}

.MainNav ul {
  list-style: none;
}