.Sidebar {
    display: flex;
    flex-wrap: wrap;
    background: black;
    color: white;
    height: 100px;
    opacity: .75;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fade {
  opacity: .75;
  align-self: center;
}

.Contact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Contact {
  border: 1px solid teal;
  width: 100%;
}