.Sidebar {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    background: black;
    color: white;
    height: 110px;
    opacity: .85;
}

.Sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fade {
  opacity: .75;
  align-self: center;
}

.Contact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Contact {
  border: 1px solid teal;
  width: 100%;
}